<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                Skinny V
            </a>
        </div>
        <nav class="fixed w-full h-[80px] flex justify-between items-center px-4 bg-[#fff] text-[#000]">
            <li>Home</li>
            <li>Gallery</li>
            <li>Connect</li>
        </nav>
    </div>
</header>